@media only screen and (min-width: 760px) {
    ul.navbar-nav {
        width: 90%;
    }
    ul.navbar-nav > li:last-child {
        float: right !important;
    }
}

.test{
  display: flex;
  flex-direction: row-reverse;
}

.opac{
  opacity: 0.5;
}

.opec{
  opacity: 1;
}
.ok{
background-color:rgba(0, 0, 0, 0.3);

  /* background-color:green; */
}
